.container-fluid

  .row-fluid.top

    .col-sm-6
      h3.text-center
        | Feeds
        | {{#if controller.feedsUpdate.length}}
        <a href='javascript:' {{action 'loadUpdates' 'feeds'}} class='x-load'>
        &nbsp;
        i.glyphicon.glyphicon-arrow-down
        | {{controller.feedsUpdate.length}}
        </a>
        | {{/if}}
    .col-sm-6
      h3.text-center
        | Tweets
        | {{#if controller.tweetsUpdate.length}}
        <a href='javascript:' {{action 'loadUpdates' 'tweets'}} class='x-load'>
        &nbsp;
        i.glyphicon.glyphicon-arrow-down
        | {{controller.tweetsUpdate.length}}
        </a>
        | {{/if}}
    .clearfix

  .row-fluid
    .col-sm-6.left
      | {{view App.FeedsListView content=feeds}}
      br
      .text-center
        <button class='btn btn-default' {{action 'paginate' 'feeds'}}>
        | load more
        </button>
    .col-sm-6.right
      | {{view App.TweetsListView content=tweets}}
      br
      .text-center
        <button class='btn btn-default' {{action 'paginate' 'tweets'}}>
        | load more
        </button>
    .clearfix

.component-drawer.component-drawer-left

  <span class='x' {{action 'hideLeftDrawer'}}>✕</span>

  .component-drawer-right-inner

    h3 {{selectedFeed.title}}
    | {{{selectedFeed.description}}}
  